<div id="money"  ng-show="viewSelected('money')">
	<div class="headline"><h2>Fundraising</h2></div>
	<div id="currentCon" ng-hide="noConSelected()">
		The currently selected member of congress is {{ getCurrentCon().name }}.
		<br>
		<div class="contributions row" id="contributions-sect">
			<div class="small-6 medium-6 large-6 columns">
				<div class="contributors">
					Top 10 Contributors: 
					<span class="contrib-tabs">
						<span ng-class="{ activeContrib: contribTabSelected('total') }" 
									class="tab"
									ng-click="setContribTab('total')">Total</span> - 
						<span ng-class="{ activeContrib: contribTabSelected('direct') }" 
									class="tab"
						 			ng-click="setContribTab('direct')">Direct</span> - 
						<span ng-class="{ activeContrib: contribTabSelected('employees') }" 
									class="tab"
						 			ng-click="setContribTab('employees')">Employees</span>
					</span>
					<ol class="contributors-list" ng-show="contribTabSelected('total')">
						<!-- Use ng-show and tabs to only show total/direct/employee table-->
						<li class="contributor" 
							ng-repeat="conContributor in conContributors()">
							{{ conContributor.name }} - 
							{{ conContributor.total_amount | currency}}
						</li>
					</ol>
					<ol class="contributors-list" ng-show="contribTabSelected('direct')">
						<li class="contributor" 
							ng-repeat="conContributor in conContributors()">
							{{ conContributor.name }} - 
							{{ conContributor.direct_amount | currency}}
						</li>
					</ol>
					<ol class="contributors-list" ng-show="contribTabSelected('employees')">
						<li class="contributor" 
							ng-repeat="conContributor in conContributors()">
							{{ conContributor.name }} - 
							{{ conContributor.employee_amount | currency}}
							<ng-pluralize count="conContributor.employee_count"
														when="{'0': 'from employees', 
																	 '1': 'from 1 employee',
																	 'other': 'from {} employees'}">
							</ng-pluralize>
						</li>
					</ol>
				</div>
			</div>
			<div class="small-6 medium-6 large-6 columns" id="sectors-sect">
				<div class="sectors">
					Top 10 Contributing Sectors:
					<ol>
						<li class="sector" ng-repeat="conSector in conSectors()">
							{{ conSector.name }} 
							- {{ conSector.amount | currency }}
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="type">
			<ul>Type:
				<li> From Individuals: 
					{{ type().Individuals[0] }} - {{ type().Individuals[1] | currency }}
				</li>
				<li> From PACs: 
					{{ type().PACs[0] }} - {{ type().PACs[1] | currency }}
				</li>
			</ul>
		</div>
	</div>
	<div class="select-con">
		<div id="first">
				Want to see the fundraising information of a 
			<span ng-show="noConSelected()">
				specific
			</span>
			<span ng-show="!noConSelected()">
				different
			</span>
				member of congress? First choose the chamber:
		</div>
		<div id="chambers">
			<span class="chamber tab" ng-click="setChamber('house')"
						ng-class="{activeChamber: getCurrentChamber() === 'house'}">
				<h4>House</h4>
			</span>
			<span class="chamber tab" ng-click="setChamber('senate')"
						ng-class="{activeChamber: getCurrentChamber() === 'senate'}">
				<h4>Senate</h4>
			</span>
		</div>
		<div id="then">
			Then either
		</div>
		<div class="row select-cont">
			<div class="small-5 medium-5 large-5 columns">
				Filter by State:
				<div>
					<select ng-model="currentState" 
						ng-options="s.abbreviation as s.name for s in states"
						ng-change="changeState()">
						<option value="">-- Choose a Different State --</option>
					</select>
				</div>
				And select a Congressperson from that state:
				<select ng-model="currentCon" 
					ng-options="s as s.name for s in stateSunCons()
											| filter:{ chamber:getCurrentChamber() }"
					ng-change="conFromStateSel()">
					<option value="">-- Select --</option>
				</select>
			</div>
			<div id="or" class="small-2 medium-2 large-2 columns">
				Or
			</div>
			<div class="small-5 medium-5 large-5 columns">
				<div>Choose from all
					<span ng-show="getCurrentChamber() === 'house'">
						Members of The House
					</span>
					<span ng-show="getCurrentChamber() === 'senate'">
						Members of The Senate
					</span>
				</div>
				<select ng-model="currentCon" 
					ng-options="s as s.name group by s.state_name for s in sunCons()
											| orderBy: ['state_name', 'last_name']
											| filter:{ chamber:getCurrentChamber() }"
					ng-change="conFromAll()">
					<option value="">-- Select --</option>
				</select>
			</div>
		</div>
		<div id="picture-pick">
			<p ng-hide="noStateSelected()">
				Or, just click on a Congressperson from the list of those 
				who represent {{ getCurrentState() }} below to see his or her fundraising
				information.
			</p>
			<con-images></con-images>
		</div>
	</div>
</div>
