<!-- manange which vote view is showing -->
<div class="view-switch" ng-show="viewSelected('votes')">
	<div class="headline tab" ng-click="setVoteView('individual')"
			 ng-class= "{activeView: voteViewSelected('individual')}">
		<h2>Individual</h2>
	</div>
	<div class="headline tab" ng-click="setVoteView('house')"
			 ng-class= "{activeView: voteViewSelected('house')}">
		<h2>House</h2>
	</div>
	<div class="headline tab" ng-click="setVoteView('senate')"
			 ng-class= "{activeView: voteViewSelected('senate')}">
		<h2>Senate</h2>
	</div>
</div>

<!-- the vote views -->
<votes-individual ng-show="voteViewSelected('individual')"></votes-individual>
<votes-congress ng-show="voteViewSelected('congress')"></votes-congress>
