// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********** GENERAL **************/
$blue:  rgb(0,82,165);
$red: rgb(224,22,43);

/*********** TOPBAR **************/
.top-bar {
	background: $blue;
	a {
		font-style: italic;
	}
}
.state-congs {
	li.state-cong {
		float: right;
		&:last-child {
		}
	}
}
#clearfix {
	clear: both;
	display: hidden;
	position: relative;
	left: -5000px;
}
#govtrack {
	display: none;
}

/*********** MAP **************/
#map {
	//width: 100%;
	height: 400px;
}
/*********** DIRECTIONS **************/
directions {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	font-family: "Open Sans Condensed", "sans serif";
	font-weight: bold;
	p {
		font-weight: normal;
	}
	@media screen and (max-width: 650px){
		display: none;
	}
}
/*********** CONGRESSMEN LIST **************/
#state-cons {
	display: table;
	@media screen and (min-width: 651px){
		height: 400px;
	}
}
.image-ul {
	//width: 100%;
	//height: 150px;
	overflow: scroll;
	list-style: none;
	text-align: center;
	display: table;
	margin: 0 auto;
	li {
		float: right;
		display: inline-block;
		margin: 0 auto;
		//display: table-cell;
		img {
			width: 50px;
			margin: 0 auto;
			//display: block;
		}
	}
}
#con-details {
	margin-top: 10px;
	.con-name {
		color: $red;
		font-weight: bold;
	}
	img {
		margin-top: 10px;
		width: 100%;
		box-shadow: 0px 0px 1px #000;
	}
	button {
		background: $red;
		color: white;
		box-shadow: 0px 0px 1px black;
		transition: .5s all;
		padding: 4px 10px;
		&:hover {
			color: $blue;
			color: white;
			background: $blue;
		}
	}
	.scroll-buttons {
		//margin: 0 auto;
		text-align: center;
	}
}

.social-icons {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	//text-shadow: 0 0 0.5px #000;
	i {
		font-size: 30px;
		margin-left: 2px;
	}
}
.fi-social-facebook, .fi-social-twitter, .fi-mail {
	color: $blue;
}
.fi-social-youtube, .fi-web, .fi-telephone {
	color: $red;
}
.fi-telephone {
	cursor: pointer;
}
/*********** SHOW **************/
.vote {
	margin-bottom: 15px;
}
.similar {
	float: right;
	margin-left: 10px;
}
/*********** TWEETS **************/
#tweets {
	background: $red;
	color: white;
	width: 100%;
	font-family: 'Open Sans Condensed', 'sans-serif';
	font-weight: 300;
	.tweet-profile-image {
		float: right;
	}
	.tweet-profile-image img {
		float: right;
		width: 48px;
		box-shadow: 0px 0px 2px #000;
	}
	.tweet-media {
		img {
			max-width: 250px;
			box-shadow: 0px 0px 2px #000;
		}
	}
	.tweet {
		margin-bottom: 20px;
		.tweet-text {
		}
	}
	.tweet-byline {
		font-weight: bold;
	}
	.time-ago {
		font-style: italic;
		color: black;
	}
}
.headline h2 {
  color: white;	
	text-align: center;
	font-family: 'Open Sans Condensed', 'sans-serif';
	font-weight: 300;
	transition: .5s all;
	margin-top: 0px;
}
#red-container {
	margin-bottom: 0px;
}
.view-switch {
	background: $red;
	border-bottom: 1px solid white;
	margin-bottom: 0px;
	.headline {
		display: inline-block;
		text-align: center;
		width: calc(32.0%);
		font-weight: bold;
		transition: .1s all;
		&:nth-child(n+2){
			border-left: 1px solid white;
		}
		&.activeView h2 {
			color: $blue;
		}
	}
	&:hover{
		.headline h2 {
			color: white;
			&:hover {
				color: $blue;
			}
		}
	}
}
/*********** VOTES **************/
.votes {
	width: 100%;
	background: $red;
	color: white;
	font-family: 'Open Sans Condensed', 'sans-serif';
	font-weight: 300;
	padding-top: 10px;
	.description {
		color: white;
	}
	.vote-time {
		color: black;
		margin-bottom: 10px;
	}
	.support p {
	}
	.yes {
	}
	.vote-cast {
	}
	.vote-not-cast {
		color: #fefefe;
	}
	.vote-party, .vote-info {
		text-align: center;
	}
	.no, .present {
		float: right;
		text-align: right;
	}
	.vote {
		border-bottom: 1px solid rgba(50,50,50,.3);
		padding-bottom: 40px;
		padding-top: 15px;
	}
	.view-switch {
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		width: 100%;
		.headline {
			&:nth-child(n+2){
				border-left: 1px solid white;
			}
			h2 {
				//color: white;
			}
		}
		&.two-tabs {
			.headline {
				width: 49.8%;
			}
		}
	}
	&#votes-individual {
		.description {
			text-align: center;
		}
	}
}
/*********** MONEY **************/
#money {
	background: $red;
	color: white;
	font-family: 'Open Sans Condensed', 'sans-serif';
	font-weight: 300;
	.contributors {
		.activeContrib {
			font-weight: bold;
		}
	}
	.contributions {
		//margin-top: 30px;
	}
}
#chambers {
	text-align: center;
	h4 {
		display: inline-block;
		font-family: 'Open Sans Condensed', 'sans-serif';
		color: white;
	}
	.chamber:first-child {
		margin-right: 30px;
	}
	.activeChamber h4 {
		font-weight: bold;
	}
}

/************ ELEMENTS **************/
.tab {
	cursor: pointer;
}
.select-con {
	#picture-pick {
		p {
			text-align: center;
		}
	}
	#or {
		text-align: center;
		font-weight: bold;
		position: relative;
		top: 50px;
	}
	#then, #first {
		text-align: center;
	}
	#then {
		margin-bottom: 20px;
	}
	.contributions {
		ol {
			margin-top: 5px;
		}
	}
}
